<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/cache  
	http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">

	<context:property-placeholder location="file:./conf/*.properties" file-encoding="UTF-8" />

	<bean id="lockUtil" class="com.yaozhong.framework.base.lock.tools.LockTool">
	</bean>

	<bean id="lockInterceptor" class="com.yaozhong.framework.base.lock.inteceptors.LockInterceptor">
	</bean>

	<aop:config>
		<!--切入点 -->
		<aop:pointcut id="lockPointcut" expression="execution(* com.yaozhong.common.service.file.*.impl.*.*(..))" />
		<!--在该切入点使用自定义拦截器 -->
		<aop:advisor pointcut-ref="lockPointcut" advice-ref="lockInterceptor" order="1" />
	</aop:config>

</beans>